@model IEnumerable<CommunityAssistSpr18.Models.GrantType>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.GrantTypeKey)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
    <td>@Html.DisplayFor(model => item.GrantTypeKey)</td>
    <td>@Html.DisplayFor(model => item.GrantTypeName)</td>
    <td>@Html.DisplayFor(model => item.GrantTypeDescription)</td>
    </tr>
    }


</table>